* {
  position: relative;
  max-width: 650px;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #282f44;
}

.container-fluid {
  background-color: #282f44;
  height: 100vh;
  left: 50vw;
  transform: translateX(-50%);
}
.container-fluid .cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  transform: translate(-50%, -50%) rotate(-10deg);
}
.container-fluid .row.letter {
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  margin: 0;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  background-color: #ececec;
  width: 500px;
}
.container-fluid .row.letter .text {
  font-size: 16px;
  padding: 15px 20px;
}
.container-fluid .row.letter .text.des {
  color: #282f44;
  opacity: 0.8;
}
.container-fluid .row.letter img.cheers {
  position: absolute;
  bottom: 15px;
  right: 30px;
  width: 80px;
  transform: rotate(15deg);
}
.container-fluid .row.letter p.cheers {
  position: absolute;
  font-size: 40px;
  bottom: 0px;
  right: 150px;
  width: 50px;
  transform: rotate(-40deg);
  color: #282f44;
  opacity: 0.4;
}